@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "react-datepicker/dist/react-datepicker.css";

.close {
  border: 0;
  background: transparent;
}

.icon-small {
  width: 14px;
}