@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";

.close {
  border: 0;
  background: transparent;
}

.icon-small {
  width: 14px;
}
.icon-medium {
  width: 20px;
}