$danger: #f47560;
$primary: #61cdbb;
$card-border-width: 2px;

@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";

.btn-danger {
  color:white !important;
}

.rbt-input-multi.focus {
  
    border-color: $input-focus-border-color  !important;
    @include box-shadow($input-box-shadow, $input-focus-box-shadow);
}

div.rbt-token {
  color: $badge-color;
  background: $primary;
}
  
.close {
  border: 0;
  background: transparent;
}

.icon-small {
  height: 14px;
}
.icon-medium {
  height: 20px;
}